.container {
    width: 100%; 
    max-width: 960px; 
    margin: 0 auto;
}

.photo {
    float: left; 
    width: 33.333333%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 10px solid #eee;
	box-sizing: border-box;
}

.photo a:hover {
    opacity: 0.5;
    position: relative;
}

.photo a {
    display: block;
}

.photo a: after {
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.photo:hover > a:after {
    visibility: visible;
}

.photo figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    margin: 30px 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#gallery {
    margin-bottom: 50px;
}

#gallery:after { 
   content: '';
   display: block; 
   height: 0; 
   clear: both;
}

