body {
	background: #ededed url(bg-header.gif) repeat-x top center;
	line-height: 1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
   
}
#header {
	margin: auto;
	
}
#header .section {
	margin: 0px 0px0px 0px;
	padding: 0px 0px0px 0px;
	overflow: hidden;
    width: 960px;
}
#header .section .logo {
	float: left;
	margin: 0;
	padding: 50px 100px 100px 100px;
	width: 100px;
}
#header .section .logo a {
background: url(bg-logo.png) repeat-x top left;
	color: #fff;
	display: block;
	font-family: 'Arimo-Bold';
	font-size: 60px;
	font-weight: normal;
	height: 130px;
	line-height:130px;
	margin: 0px;
    text-align:center;
	text-decoration: none;
	text-transform: uppercase;
	width: 270px;
}
#header .section ul {
	display: inline-block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 100px 50px 50px 50px;
}
#header .section ul li {
	background: url(bg-nav-right.gif) no-repeat top right;
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 10px;
	padding: 0;
}
#header .section ul li a {
	background: url(bg-nav-left.gif) no-repeat top left;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	height: 30px;
	letter-spacing: 0.05em;
	line-height: 30px;
	margin: 0;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#header .section ul li a:hover {
	color: #ccc;
}

}
#header .article {
	background: #fdf;
	border: 0px  #53b3bd;
	border-radius: 1px;
	overflow: hidden;
    
	
	
}
#header .article img {
    display: block;
    margin:0mm 0mm 0mm 10mm;

	float: left;
    

}
#header .article h1 {
	color: #1b2130;
	font-family: 'ChangaOne';
	font-size: 40px;
	font-weight: normal;
    
    margin: 0mm;
	
}
p {
    color: navy;
    text-indent: 50px;
    font-size: 24px;
    
    
  
}

